################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projekatMreze/.vs/projekatMreze/FileContentIndex/20fb2013-2ef9-469c-93d8-ff715ebe0635.vsidx
/projekatMreze/.vs/projekatMreze/FileContentIndex
